.site-masthead {
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

.site-masthead h1 {
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 1em;
  padding: 0 2rem;

  // Tight baseline by default so wrapped titles are compact
  line-height: 1.02;
  /* Make sure the heading and its internal break spans behave consistently */
  display: block;
  word-wrap: break-word;
}

/* On larger screens where the title normally fits in one line, raise the line-height for rhythm */
@media (min-width: $on-tablet) {
  .site-masthead h1 {
    font-size: 6em;
    line-height: 1.25;
  }
  
  /* ensure break span also follows the higher line-height when present */
  .mobile-break {
    line-height: 1.25;
  }


.site-masthead h2 {
  color: $muted-text-color;
  font-size: 1.25em;
  margin-bottom: 0;
  margin-top: .5;
  padding: 0 2rem;
  @media (min-width: $on-tablet) {
    font-size: 3em;
  }
}

.site-masthead h3 {
  color: $muted-text-color;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 1;
  padding: 0 2rem;
  @media (min-width: $on-tablet) {
    font-size: 2em; 
  }
}