
body {
  background-color: #f0ece2;
  background-image: url('/assets/images/fadylady.png');
  background-repeat: no-repeat;
  background-position: top left; 
  background-size: clamp(0px, 65vw, 1000px) auto;
}

@font-face {
  font-family: 'OptiCloister';
  src: url('/assets/fonts/OPTICloister.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/assets/fonts/eb-garamond-v9-latin-regular.woff2') format('woff2'),
       url('/assets/fonts/eb-garamond-v9-latin-regular.woff') format('woff'),
       url('/assets/fonts/eb-garamond-v9-latin-regular.ttf') format('truetype'),
       url('/assets/fonts/eb-garamond-v9-latin-regular.eot') format('embedded-opentype'),
       url('/assets/fonts/eb-garamond-v9-latin-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'OptiCloister', 'EB Garamond', Times, 'Times New Roman', serif;
}


/* Ensure post content is left-aligned even if main.css sets more specific selectors */
article.post .post-content,
article.post .post-content p {
  text-align: left !important;
}

/* Small-screen: reduce vertical spacing around post title + image (~15%) */
@media (max-width: 767px) {
  article.post {
    padding-top: 1.7em;   /* was 2em */
    padding-bottom: 1.7em;
  }

  article.post > h1 {
    padding-top: 1.7em;   /* was 2em */
    padding-bottom: 1.7em;
    max-width: 48rem;
    text-align: center;
  }

  .post-content:first-child {
    margin-top: 3.4em;    /* was 4em */
  }

  /* reduce default image margins inside posts (images are often the graphic) */
  article.post img,
  article.post figure img {
    margin-top: 1.7em;    /* was 2em */
    margin-bottom: 0.85em;/* give a smaller gap below the image */
  }

  /* If you're actually referring to the site masthead title: */
  .site-masthead h1 {
    margin-top: 0.85em;   /* was 1em */
    padding: 0 1.7rem;
  }

  .site-masthead .site-title-group {
    margin-bottom: 0.75rem; /* was 0.9rem */
  }
}