
body {
  background-color: #f0ece2;
  background-image: url('/eft/assets/images/eleutheria-iso.png');
  background-repeat: no-repeat;
  background-position: top left; 
  background-size: clamp(0px, 30vw, 350px) auto;
}

.site-title {
  text-align: center !important;  /* Force centering */
  font-size: 1.5em;        /* Adjust as needed */
  line-height: 1.0;
  font-weight: bold;
  max-width: 250px;      /* Makes it more square */
  width: 100%;         /* NEW: force title to fill parent width */
  margin: 2rem auto;
}
.site-title span, .site-title br {
  display: block;
}
@media (max-width: 600px) {
  .site-title {
    font-size: 1.2em;
    max-width: 90vw;
  }
}
