
body {
  background-color: #f0ece2;
  background-image: url('/assets/images/eleutheria-iso.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: clamp(0px, 25vw, 275px) auto;
}
