---
layout: default
---

<header class="site-masthead">
  {% include menu.html %}
  
  {% if site.title %}
    <div class="site-title-group">
      <h1 class="site-title">
        {{ site.title }}
      </h1>
      {% if site.description %}
        <h2 class="site-description">
          {{ site.description }}
        </h2>
      {% endif %}
    </div>
  {% endif %}
  
  {% if site.author %}
    <h3 class="site-author">
      {{ site.author }}
    </h3>
  {% endif %}
</header>

<main class="home" id="main" role="main" aria-label="Content">

  <h1 class="content-title divided">
    Latest
  </h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% include post-list-item.html %}
    {% endfor %}
  </ul>

</main>